:root {
    --main-background: #262626;
    --highlights: #ffdd00;
    --main-text: white;
    --foreground: #313131;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 100vw;
    background-color: var(--main-background);
}